*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#logo {
  width: 100%;
  height: 60px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo img {
  display: block;
  width: 170px;
  height: auto;
}

#location {
  width: 100%;
  height: 50px;
  background-color: rgb(237, 235, 235);
  margin: auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
#location p i {
  margin-right: 15px;
}

#section1-bg-color {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}

#container-first-section {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#container-first-section h1 {
  margin-bottom: 0px;
  margin-top: 30px;
}
#container-first-section h2 {
  font-size: 1rem;
  font-weight: 100;
}
#container-first-section button {
  height: 40px;
  border-radius: 9999px;
  border: 0px solid;
  padding: 25px;
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 15px;
  margin-bottom: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
}

#section2-bg-color {
  width: 100%;
  background-color: white;
  height: auto;
  margin-bottom: 60px;
}
#section2-bg-color h2 {
  margin-left: 20px;
  margin-top: 50px;
}

#container-second-section {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container-second-section .btn-settings {
  width: 100%;
  margin: 10px;
}
#container-second-section .btn-settings button {
  width: 100%;
  height: 70px;
  padding-right: 30px;
  font-family: roboto;
  font-size: 1rem;
  background-color: 245, 245, 245;
  border: 0px solid;
  border-radius: 20px;
  font-weight: 500;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
#container-second-section .btn-settings button:hover {
  background-color: rgb(242, 232, 255);
}
#container-second-section .btn-settings button:hover .fa-solid {
  color: #9356DC;
  opacity: 1;
}
#container-second-section .btn-settings button span {
  display: block;
  color: #efebeb;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}
#container-second-section .btn-settings button .fa-solid {
  margin-right: 20px;
  font-size: 18px;
  opacity: 0.5;
}

#section3-bg-color {
  width: 100%;
  padding-top: 30px;
  margin-top: 30px;
  background-color: #f7f7f7;
  height: auto;
}
#section3-bg-color h2 {
  margin-left: 20px;
}

#container-third-section {
  margin-bottom: 50px;
  cursor: pointer;
}
#container-third-section .label-nouveau {
  position: relative;
}
#container-third-section .new {
  position: absolute;
  right: 10%;
  margin-top: 3%;
  color: #224d0f;
  background-color: #99E2D0;
  padding: 5px;
}

.card {
  width: 90%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
}

.img-restaurant {
  width: 100%;
  height: 175px;
  background-color: #81817c;
  margin: auto;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
.img-restaurant img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.img-restaurant img#position-img {
  -o-object-position: 0px -115px;
     object-position: 0px -115px;
}

.title-card {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-card H3 {
  margin: 0px 0px 0px 10px;
}
.title-card P {
  margin: 0px 0px 0px 10px;
}
.title-card .fa-heart {
  color: #9356DC;
  font-size: x-large;
  margin-right: 10px;
}

footer {
  background-color: rgb(56, 53, 53);
  color: white;
  width: 100%;
  height: 200px;
}
footer ul {
  margin: 0px;
  padding: 0px;
  margin-left: 30px;
  list-style-type: none;
  line-height: 25px;
}
footer span {
  display: block;
  font-family: shrikhand;
  font-size: 1rem;
  padding: 20px;
  margin-left: 5px;
}
footer .fa-utensils {
  margin-right: 5px;
}
footer .fa-handshake-angle {
  margin-right: 5px;
}/*# sourceMappingURL=style.css.map */