$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiare : #99E2D0;
$gradient: linear-gradient($couleur-secondaire, $couleur-primaire);
$black:black;


@mixin flexMid {
display: flex;
justify-content: center;
align-items: center;
}

*, ::before, ::after {
    box-sizing: border-box;
}


body{
    font-family: Roboto, shrikhand, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
   
}
    



.logo{
   width: 100%;
   height: 60px;
   background-color:white;
   margin: auto;
   @include flexMid();


        img{
            display: block;
            width: 170px;
            height: auto;
        }

}

#location{
    width: 100%;
    height: 50px;
    background-color: rgb(229, 229, 229);
    margin: auto;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1) inset;
    @include flexMid();
    p i {
        margin-right: 15px;
    }
}


#section1--bg-color{
    width: 100%;
    height: auto;
    background-color:rgb(245,245,245);
}

#container-first-section{
    width: 90%;
    margin: auto;
    @include flexMid();
    flex-direction: column;
    text-align: center;
        h1{
            margin-bottom: 0px;
            margin-top: 30px;
        }

        h2{
            font-size: 1rem;
            font-weight: 100;
        }

        button{
            height: 40px;
            border-radius: 9999px;
            border: 0px solid;
            cursor: pointer;
            padding: 25px;
            font-family: roboto;
            font-weight:400;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-top: 15px;
            margin-bottom: 50px;
            background: linear-gradient($couleur-secondaire, $couleur-primaire);
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                &:hover{
                    opacity: 0.9;
                    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
                }
        }
}


#section2--bg-color{
    width: 100%;
    background-color: white;
    height: auto;
    margin-bottom: 60px;

        h2{
           margin-left: 20px; 
           margin-top: 50px;
        }
}



#container-second-section{
    width: 90%;
    margin: auto;
    @include flexMid();
    flex-direction: column;
    
        .btn-settings{
            width: 100%;
            margin: 10px;
            max-width: 850px;
            
            button{
                width: 100%;
                height: 70px;
                cursor: pointer;
                padding-right: 30px;
                font-family: roboto;
                font-size: 1rem;
                background-color: rgb(245,245,245);
                border: 0px solid;
                border-radius: 20px;
                font-weight: 500;
                position: relative;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                
                        &:hover{
                           background-color:rgb(242, 232, 255);
                           box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
                           .fa-solid{
                            color: $couleur-primaire;
                            opacity: 1;
                           }

                        }

                span{
                    display: block;
                    color: #efebeb;
                    padding: 12px;
                    font-weight: 400;
                    font-size: 14px;
                    background-color: #9356DC;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: -10px;

                }

                .fa-solid{
                    margin-right: 20px;
                    font-size: 18px;
                    opacity: 0.5;
                


                }

                }
                    
                }
        }




#section3--bg-color{
    width: 100%;
    padding-top: 30px;
    margin-top: 30px;
    background-color: #f7f7f7;
    height: auto;

        h2{
           margin-left: 20px; 
        }
}

#container-third-section{

    margin-bottom: 50px;
    cursor: pointer;


    .new{

        position: absolute;
        right: 5%;
        margin-top: 3%;
        color: #224d0f;
        background-color: #99E2D0;
        padding: 5px;

    }
}

a{
    text-decoration: none;
    color: black;
}




.card {
    width: 90%;
    max-width: 850px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    
}

.img-restaurant{
    width: 100%;
    height: 175px;
    background-color: #81817c;
    margin: auto;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    
    img{
        
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: bottom;
            &#position-img{
                object-position:0px -115px;
            
            }
        
            }
}

.title-card{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
    
        H3 {
            margin: 0px 0px 0px 10px;
        }

        P{
            margin: 0px 0px 0px 10px;
            font-weight: 300;
        }
        
}

//Heart Animation
.heart-container {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    transform: scale(0.75);
 }
 
 .heart-clip {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    clip-path: url(#svgPath);
    
 
    &:hover {
       animation: pulse 0.6s 0.3s infinite;
 
       &::before {
          transform: scale(1);
          opacity: 1;
       }
    }
    &::before {
       content: "";
       display: block;
       width: 100%;
       height: 100%;
       border-radius: 50%;
       background: $gradient;
       opacity: 0;
       transform: scale(0);
       transition: transform 0.2s linear, opacity 0.2s linear;
       transform-origin: center 60%;
    }
    &.active {
       animation: pulse 0.6s 0.3s forwards;
    }
 }
 
 .heart-stroke {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    fill: $black;
 }
 


//Footer

.footer-home{
    background-color:rgb(56, 53, 53);
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 20px;

        ul{
            margin: 0px;
            padding: 0px;
            margin-left: 30px;
            list-style-type: none;
            line-height: 25px;
        }

        a{
            color: white;
        }


        span{
            display: block;
            font-family: shrikhand;
            font-size: 1rem;
            padding: 20px;
            margin-left: 5px;
            
        }

        .fa-utensils {

            margin-right: 5px;
            
        }

        .fa-handshake-angle{

            margin-right: 5px;
        }

    }
    

/*Pages des 4 Menus*/

.logo-retour-accueil{
width: 100%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
    .arrow-home{
        position: absolute;
        left: 20px;
    }


    img{
        display: block;
        width: 130px;
        margin: auto;
    }

}

.img-restaurant-menu{

    width: 100%;
    height: 250px;
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    }
  
}

.Menu-restaurant{

    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgb(242, 242, 242);
    border-radius: 30px 30px 0px 0px;
    top: 245px;
        h1{
            font-family: shrikhand;
            font-size: 24px;
            font-weight: 100;
            margin: 0px;
            padding-left: 15px;
        }
    

}

.title-menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;

        .fa-heart{

            color:#9356DC;
            font-size: 24px;
            margin-right: 30px;
        }

}



.section-menu{
    width: 95%;
    max-width: 850px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    h2{
        text-transform: uppercase;
        margin: 0;
        font-family: Roboto;
        font-weight: 300;
        font-size: 18px;
        display: inline-block;
        position: relative;
        margin-bottom: 8px;
    }
    h2:after{
        content: "";
        position: absolute;
        width: 45px;
        top: 24px;
        left: 0%;
        border-bottom: 2px solid $couleur-tertiare;
        

    }

    article{
        width: 100%;
        background-color: white;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        margin: 10px 0px;
        padding: 10px;
        border-radius: 10px;
    }

    .prix{
        display: flex;
        justify-content: center;
        align-items: center;
    }


   

    h3{
        margin: 0px;
        margin-bottom: 3px;
        padding: 0px;
        font-size: 18px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

    }
    .plats{
        display: flex;
        justify-content: space-between;
        align-items: center;
            p{
                margin: 0px;
                font-size: 16px;
                font-weight: 300;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .price{
                font-weight: 500;
            }
    }

}

/*Sections Menus Animations Opacity*/

.section-entrees{
    opacity: 0;
    animation-name: OpacityMenuAnimation;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}
.section-plats{
    animation-name: OpacityMenuAnimation;
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
.section-desserts{
    animation-name: OpacityMenuAnimation;
    animation-duration: 500ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
  
@keyframes OpacityMenuAnimation {
    0% {
        
        opacity: 0;
        scale: 0;
        rotate: (360deg);
    }
    100% {
        
        opacity: 1;
        scale: 1;
     }
}



.checkout{
            height: 40px;
            border-radius: 9999px;
            border: 0px solid;
            padding: 25px 50px;
            font-family: roboto;
            font-weight:300;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: white;
            margin-top: 15px;
            margin-bottom:30px;
            background: linear-gradient($couleur-secondaire, $couleur-primaire);
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
            &:hover{
                opacity: 0.9;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
            }



}

.footer{
    font-size: 13px;

    span{
        font-size: 14px;
        padding: 20px 0px 10px 0px;
        margin-left: 22px;
        
    }
    ul{ 
        margin-left: 20px;
    }
        
    .fa-utensils {
        font-size: 11px;
    }

    .fa-handshake-angle{
        font-size: 10px;
    }
}


/*Page Loader*/

$timing: 2s;
$color-shadow: lightgray;
$pan-color-light: #9356DC;
$pan-color-dark: #FF79DA;
$loader-color: #99E2D0;



.loader-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 235, 235, 1);
    opacity: 1;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    animation: loader-page 6s forwards;
        
}


.pan-loader {
  width: 180px;
  height: 180px;
  
  
  .loader {
    position: relative;
    top: 10%;
    left: 0;
    z-index: -1;
    width: 60%;
    height: 45%;
    border: 10px solid transparent;
    border-bottom: 10px solid $loader-color;
    border-radius: 50%;
    animation: loader $timing infinite;
    animation-timing-function: linear;
  }

  .pan-container {
    display:flex;
    width: 100%;
    animation: pan $timing infinite;
  }

  .pan {
    width: 60%;
    height: 24px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .handle {
    width: 40%;
    height: 10px;
    background: linear-gradient($pan-color-light, $pan-color-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .shadow {
    position: relative;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 8px;
    background: $color-shadow;
    border-radius: 20px;
    animation: shadow $timing infinite;
  }
}

    @keyframes loader {
    0% {
      width: 10%;
      transform: rotate(0deg);
    }
    10% {
      left: 0%;
      transform: rotate(0deg);
    }
    20% {
      width: 0%;
      left: 20%;
    }
    30% {
      width: 25%;
    }
    50% {
      left: 15%;
      width: 35%;
    }
    70% {
      width: 30%;
      left: 18%;
      transform: rotate(240deg);
    }
    90% {
      width: 30%;
      left: 10%;
    }
    100% {
      width: 2%;
      left: 25%;
      transform: rotate(360deg);
    }
  }
  
    @keyframes pan {
    0% {
      transform: rotate(0deg);
      transform-origin: top right;
    }
    10% {
      transform: rotate(-2deg);
      transform-origin: top right;
    }
    50% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
    @keyframes shadow {
    0% {
      width: 30%;
    }
    50% {
      width: 40%;
      left: 20px;
    }
    100% {
      width: 30%;
    }
  }

  @keyframes loader-page {
    0% {
      opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -999;
    }
  }


  /*Affichage Tablette et desktop*/
  @media screen and (min-width: 1024px){
    .article-homepage{
        width: 50%;
    }
    #container-third-section{
    display: flex;
    }
    .desktop-flex{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 50px;
    }
    .footer-home span {
        display: none;
    }

    .footer-home{
        padding: 20px;
    }
  }