$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiare : #99E2D0;


@mixin flexMid {
display: flex;
justify-content: center;
align-items: center;
}

*, ::before, ::after {
    box-sizing: border-box;
}


body{
    font-family: Roboto, shrikhand, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
}
    



.logo{
   width: 100%;
   height: 60px;
   background-color:white;
   margin: auto;
   @include flexMid();


        img{
            display: block;
            width: 170px;
            height: auto;
        }

}

#location{
    width: 100%;
    height: 50px;
    background-color: rgb(229, 229, 229);
    margin: auto;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1) inset;
    @include flexMid();
    p i {
        margin-right: 15px;
    }
}


#section1-bg-color{
    width: 100%;
    height: auto;
    background-color:rgb(245,245,245);
}

#container-first-section{
    width: 90%;
    margin: auto;
    @include flexMid();
    flex-direction: column;
    text-align: center;
        h1{
            margin-bottom: 0px;
            margin-top: 30px;
        }

        h2{
            font-size: 1rem;
            font-weight: 100;
        }

        button{
            height: 40px;
            border-radius: 9999px;
            border: 0px solid;
            padding: 25px;
            font-family: roboto;
            font-weight:400;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-top: 15px;
            margin-bottom: 50px;
            background: linear-gradient($couleur-secondaire, $couleur-primaire);
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        }
}


#section2-bg-color{
    width: 100%;
    background-color: white;
    height: auto;
    margin-bottom: 60px;

        h2{
           margin-left: 20px; 
           margin-top: 50px;
        }
}



#container-second-section{
    width: 90%;
    margin: auto;
    @include flexMid();
    flex-direction: column;
    
        .btn-settings{
            width: 100%;
            margin: 10px;
            
            button{
                width: 100%;
                height: 70px;
                padding-right: 30px;
                font-family: roboto;
                font-size: 1rem;
                background-color: rgb(245,245,245);
                border: 0px solid;
                border-radius: 20px;
                font-weight: 500;
                position: relative;
                box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
                
                        &:hover{
                           background-color:rgb(242, 232, 255);
                           .fa-solid{
                            color: $couleur-primaire;
                            opacity: 1;
                           }

                        }

                span{
                    display: block;
                    color: #efebeb;
                    padding: 12px;
                    font-weight: 400;
                    font-size: 14px;
                    background-color: #9356DC;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: -10px;

                }

                .fa-solid{
                    margin-right: 20px;
                    font-size: 18px;
                    opacity: 0.5;
                


                }

                }
                    
                }
        }




#section3-bg-color{
    width: 100%;
    padding-top: 30px;
    margin-top: 30px;
    background-color: #f7f7f7;
    height: auto;

        h2{
           margin-left: 20px; 
        }
}

#container-third-section{

    margin-bottom: 50px;
    cursor: pointer;

    .label-nouveau{

        position: relative;
    }

    .new{

        position: absolute;
        right: 10%;
        margin-top: 3%;
        color: #224d0f;
        background-color: #99E2D0;
        padding: 5px;

    }
}


.card {
    width: 90%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
    
}

.img-restaurant{
    width: 100%;
    height: 175px;
    background-color: #81817c;
    margin: auto;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    
    img{
        
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: bottom;
            &#position-img{
                object-position:0px -115px;
            
            }
        
            }
}

.title-card{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    
    
        H3 {
            margin: 0px 0px 0px 10px;
        }

        P{
            margin: 0px 0px 0px 10px;
        }

        .fa-heart{

            color: #9356DC;
            font-size: x-large;
            margin-right: 10px;
        }

}




//Footer

footer{
    background-color:rgb(56, 53, 53);
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 20px;

        ul{
            margin: 0px;
            padding: 0px;
            margin-left: 30px;
            list-style-type: none;
            line-height: 25px;


        }
    

        span{
            display: block;
            font-family: shrikhand;
            font-size: 1rem;
            padding: 20px;
            margin-left: 5px;
            
        }

        .fa-utensils {

            margin-right: 5px;
        }

        .fa-handshake-angle{

            margin-right: 5px;
        }


    }

/*Page Menu La Palette Du Gout*/

.logo-retour-accueil{
width: 100%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
    .arrow-home{
        position: absolute;
        left: 20px;
    }


    img{
        display: block;
        width: 130px;
        margin: auto;
    }

}

.img-restaurant-menu{

    width: 100%;
    height: 250px;
img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    }
  
}

.Menu-restaurant{

    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgb(242, 242, 242);
    border-radius: 30px 30px 0px 0px;
    top: 245px;
        h1{
            font-family: shrikhand;
            font-size: 22px;
            font-weight: 100;
            margin: 0px;
            padding-left: 15px;
        }
    

}

.title-menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;

        .fa-heart{

            color:#9356DC;
            font-size: 24px;
            margin-right: 30px;
        }

}



.section-menu{
    width: 95%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    h2{
        text-transform: uppercase;
        margin: 0;
        font-family: Roboto;
        font-weight: 300;
        font-size: 13px;
        display: inline-block;
        position: relative;
        margin-bottom: 8px;
    }
    h2:after{
        content: "";
        position: absolute;
        width: 30px;
        top: 20px;
        left: 0%;
        border-bottom: 2px solid $couleur-tertiare;
        

    }

    article{

        background-color: white;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        margin: 10px 0px;
        padding: 10px;
        border-radius: 10px;
            
    }

    h3{
        margin: 0px;
        margin-bottom: 3px;
        padding: 0px;
        font-size: 14px;
        font-weight: 500;
    }
    .plats{
        display: flex;
        justify-content: space-between;
        align-items: center;
            p{
                margin: 0px;
                font-size: 12px;
                font-weight: 300;
            }
            .price{
                font-weight: 500;
            }
    }

}

.checkout{
            height: 40px;
            border-radius: 9999px;
            border: 0px solid;
            padding: 5px 40px;
            font-family: roboto;
            font-weight:300;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: white;
            margin-top: 15px;
            margin-bottom:30px;
            background: linear-gradient($couleur-secondaire, $couleur-primaire);
            box-shadow: 0px 5px 10px rgba(0,0,0,0.2);



}

.footer{
    font-size: 13px;

    span{
        font-size: 14px;
        padding: 20px 0px 10px 0px;
        margin-left: 22px;
        
    }
    ul{ 
        margin-left: 20px;
    }
        
    .fa-utensils {
        font-size: 11px;
    }

    .fa-handshake-angle{
        font-size: 10px;
    }
}


